@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white font-bold py-2 px-4 rounded disabled:bg-blue-100 disabled:text-slate-500 disabled:opacity-35 disabled:cursor-not-allowed transition-all duration-200;
  }
}
